$font-family-base: Arial, sans-serif;

$color-text: #292929;
$color-white: #ffffff;
$color-header-background: #F5F3EF;
$color-separator: #E6E2DC;

$header-height: 80px;
$footer-height: 64px;
$mobile-header-height: 40px;
$mobile-footer-height: 133px;

$desktop-page-padding: 150px;
$tablet-page-padding: 48px;
$mobile-page-padding: 20px;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
